.App {
  
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header-title {
  color: white;
  padding-left: 20px;
  text-align: left;  
}